<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Canciones</title>
</head>
<body>
    <h1>canciones</h1>
    <ul>
        {% for nombre in canciones  %}
        <li>{{ nombre['Name'] }}</li>
        {% endfor %}
    </ul>
    <h1>generos</h1>
    <ul>
        {% for genero in generos %}
        <li>{{ genero['Name'] }}</li>
        {% endfor %}
    </ul>
    <h1>bandas</h1>
    <ul>
        {% for banda in bandas %}
        <li>{{ banda['Name'] }}</li>
        {% endfor %}
    </ul>
</body>
</html>