<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canciones</title>
</head>
<body>
    <ul>
        {% for albunes in albums  %}
        <li>{{ albunes['Title'] }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for generos in genres %}
        <li>{{ actor['Name'] }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for canciones in tracks %}
        <li>{{ canciones['Name'] }}</li>
        {% endfor %}
    </ul>
</body>
</html>